html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

#gc {
    background-color: #202020;
    border: solid white 2px;

    // width: 95%;
    // height: 95%;
//    min-width: 100vw;
    // width: 100vh;
    // height: 100vw;

}